html {
    background-color: #000;
}

header {
    background-image: url(img/headrbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.marginess {
    margin-right: 10px;
}
.activee {
    color: #ebc55c;
}
.dropdown-menu {
    border: none;
    border-radius: 0% 25% 5% 25%;
    background-color: rgba(255, 255, 255, 0.2);

    /* nadpisanie aktywnego stanu */
  --bs-dropdown-link-active-bg: rgba(255,255,255,0.08);
  --bs-dropdown-link-active-color: #fff;
}

.dropdown-menu .dropdown-item {
    color: #fff !important;
    font-size: 0.9rem;  
    padding: .4rem 1rem; 
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #ebc55c !important; 
}

.container-h1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;
}
.diamond-napis{
  inline-size: clamp(350px, 46vw, 640px); 
  height: auto;
}

.diamond-logo {
    width: 400px;
    height: auto;
    max-width: 100%;
}
.margines {
    width: 100%;
    max-width: 110rem;
    margin-inline: auto;
    padding-inline: var(--bs-gutter-x, 1rem);
}
header a {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-right:  40px;
    color: #5a5a5a;
    font-weight: bold;
}



:root { --brand:#ebc55c; }

.navbar .nav-link { position: relative; font-weight: 600; }

.nav-underline::after{
    content:"";
    position:absolute; left:.6rem; right:.6rem; bottom:.35rem;
    height:2px; background:transparent;
    transform:scaleX(0); transform-origin:center;
    transition:transform .22s ease, background-color .22s ease;
}
.nav-underline:hover::after{ background:var(--brand); transform:scaleX(1); }
.nav-link.active{ color:var(--brand) !important; }
.nav-link.active.nav-underline::after{ background:var(--brand); transform:scaleX(1); }

.navbar .dropdown-toggle.nav-underline::after{
    position: static; left:auto; right:auto; bottom:auto; height:auto;
    background: none !important; transform: none !important; transition: none !important;
}

.navbar .dropdown-toggle.nav-underline::before{
    content:"";
    position:absolute; left:.6rem; right:.6rem; bottom:.35rem;
    height:2px; background:transparent;
    transform:scaleX(0); transform-origin:center;
    transition:transform .22s ease, background-color .22s ease;
}
.navbar .dropdown-toggle.nav-underline:hover::before,
.navbar .dropdown-toggle.nav-underline[aria-expanded="true"]::before,
.navbar .dropdown-toggle.nav-underline.active::before{
    background:var(--brand);
    transform:scaleX(1);
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgb(31, 31, 31) 100%, rgb(36, 30, 7) 100%);

  position: relative; 
}

body::before{
  content:"";
  position: fixed;
  inset: 0;

  background: url("/css/img/bg-img-blur.png") left center / auto 100% no-repeat;
  opacity: .16;
  pointer-events: none;
  z-index: 0;

  -webkit-mask-image:
    linear-gradient(
      to right,
      #000 0%,
      #000 22%,
      rgba(0,0,0,.75) 40%,
      rgba(0,0,0,.35) 55%,
      rgba(0,0,0,.12) 66%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(to bottom, transparent 0%, #000 20%, #000 80%, transparent 100%);
  -webkit-mask-composite: source-in;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image:
    linear-gradient(
      to right,
      #000 0%,
      #000 22%,
      rgba(0,0,0,.75) 40%,
      rgba(0,0,0,.35) 55%,
      rgba(0,0,0,.12) 66%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(to bottom, transparent 0%, #000 20%, #000 80%, transparent 100%);
  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  filter: saturate(.9) contrast(.9);
}

header {position: relative; z-index: 3;}
main, footer{ position: relative; z-index: 1; }

.container-7xl {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: var(--bs-gutter-x, 1rem);
}
@media screen and (max-width: 1100px) {
    .diamond-logo{
      display: none;
    }
}
@media screen and (min-width: 200px) {
    main p,
    footer p{
      font-size: 1rem;
    }
}
@media screen and (min-width: 600px) {
    main p,
    footer p{
      font-size: 1rem;
    }
}
@media screen and (min-width: 900px) {
    main p{
      font-size: 1rem;
    }
    footer p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 200px) {
    .h2-akc,
    .h2home-sr{
      font-size: 1.25rem;
    }
}
@media screen and (min-width: 600px) {
    .h2-akc,
    .h2home-sr{
      font-size: 1.5rem;
    }
}
@media screen and (min-width: 1100px) {
    .h2-akc,
    .h2home-sr{
      font-size: 2rem;
    }
}

@media screen and (min-width: 200px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 1rem;
    }
}
@media screen and (min-width: 600px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 1.25rem;
    }
}
@media screen and (min-width: 1100px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 1.5rem;
    }
}











.zapach {
    max-width: 95%;  
    height: auto;  
}
.p-main {
    vertical-align: baseline;
    text-align: center;
    color: #5a5a5a;
    font-family: Verdana, Geneva, Tahoma, monospace;
    margin-top: 2rem;
}
.zdj1 {
    max-width: 97%;
}
.h2home-sr {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-weight: bold;
    color: #ebc55c;
    text-align: center;
    letter-spacing: 1px;


}
.h2-zap{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: #292929;
}
.p-zap{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    color: #5a5a5a;
}
.h2-gold{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: gold;
}
.h2-sil{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: silver;
}
.h2-brow{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(85, 50, 17);
}
.img-bord {
    border-radius: 12% 88% 12% 77%;
    border: 1px #ebc55c solid;
    background-color: #ebc55c;
}
.bgzap {
    background-color: rgba(255,255,225,0.05);
    border-radius: 2% 2% 20% 20%;
}
.bgzapa {
    background-color: rgba(255,255,225,0.05);
    border-radius: 2% 20% 20% 2%;
    display: flex;
    align-items: center;
    height: auto;
}
.h2-akc {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-weight: bold;
    color: #a8a8a8;
    text-align: left;
    letter-spacing: 1px;
    align-items: center;
    padding: 1rem;
}
.margin-items {
    margin-top: 10%;
    margin-left: 3px;
    margin-right: 3px;
}
.p-sr{
    border-top: 5px #ebc55c solid;
    vertical-align: baseline;
    text-align: center;
    color: #5a5a5a;
    font-family: Verdana, Geneva, Tahoma, monospace;
    padding: 10px;

}


/* footer */

footer {
    border-top: #ebc55c 2px solid;
    max-width: 80vw;
    margin-top: 40px;
}
footer img {
    margin: 10px;    
}
.footer-logo img{
    margin-top: 2rem;
    width: clamp(150px, 15vw, 220px);
    height: auto;
    display: inline-block;
}
footer p {
    color: white;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}