header {
    background-image: url(img/headrbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-link {
    color: #ffffff;
    font-weight: bold;
}
.nav-link:hover {
    color: #FFCC00;
    transform: scale(1.05);
}
.marginess {
    margin-right: 10px;
}
.coutainer-h1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.diamond-napis {
    width: 630px;
    height: 280px;
    max-width: 97%;
    max-height: 15%;
}
.diamond-logo {
    width: 400px;
    height: 250px;
    max-width: 100%;
}
.activee {
    color: #FFCC00;
}
.dpi {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, monospace;
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;
}
.dpi:hover{
    color: #FFCC00;
    background: fixed;
    transform: scale(1.05);
}
.dropdown-menu {
    background-color: #5a5a5a;
    border: none;
    border-radius: 0% 25% 5% 25%;
    background-color: rgba(255, 255, 255, 0.2);
}
header a {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-right:  40px;
    color: #5a5a5a;
    font-weight: bold;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(22,22,22,1) 100%, rgba(255,204,0,1) 100%);
}
@media screen and (max-width: 1100px) {
    .diamond-logo{
      display: none;
    }
}

@media screen and (min-width: 200px) {
    main p,
    main td,
    footer p{
      font-size: 14px;
    }
}
@media screen and (min-width: 600px) {
    main p,
    main td,
    footer p{
      font-size: medium;
    }
}
@media screen and (min-width: 900px) {
    main p,
    main td{
      font-size: 22px;
    }
    footer p{
        font-size: medium;
    }
}

@media screen and (min-width: 200px) {
    main h2{
      font-size: 30px;
    }
}
@media screen and (min-width: 600px) {
    main h2{
      font-size: 35px;
    }
}
@media screen and (min-width: 1100px) {
    main h2{
      font-size: 50px;
    }
}



.tab-cen td {
    border-bottom: 2px #FFCC00 solid;
    width: 100%;
    max-width: 97%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, monospace;
    color: #5a5a5a;
    text-align: left;
}
.p-main {
    vertical-align: baseline;
    text-align: center;
    color: #5a5a5a;
    font-family: Verdana, Geneva, Tahoma, monospace;
    margin-top: 5%;
} 
.margines {
    margin-left: 10px;
    margin-right: 10px;
}
.h2home-left {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-weight: bold;
    color: #292929;
    text-align: center;
    letter-spacing: 10px;
}

.margin-items {
    margin-top: 10%;
    margin-left: 3px;
    margin-right: 3px;
}











footer {
    border-top: #FFCC00 2px solid;
    margin: 40px;
}
footer img {
    margin: 10px;    
}
footer p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}