header {
    background-image: url(img/headrbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.coutainer-h1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.diamond-napis {
    width: 630px;
    height: 280px;
    max-width: 97%;
    max-height: 15%;
}
.diamond-logo {
    width: 400px;
    height: 250px;
    max-width: 100%;
}
.nav-link {
    color: #ffffff;
    font-weight: bold;
}
.nav-link:hover {
    color: #FFCC00;
    transform: scale(1.05);
}
.marginess {
    margin-right: 10px;
}
.activee {
    color: #FFCC00;
}
.dpi {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, monospace;
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;
}
.dpi:hover{
    color: #FFCC00;
    background: fixed;
    transform: scale(1.05);
}
.dropdown-menu {
    background-color: #5a5a5a;
    border: none;
    border-radius: 0% 25% 5% 25%;
    background-color: rgba(255, 255, 255, 0.2);
}
header a {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-right:  40px;
    color: #5a5a5a;
    font-weight: bold;
}
body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(22,22,22,1) 100%, rgba(255,204,0,1) 100%);
}
.margines {
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width: 1100px) {
    .diamond-logo{
      display: none;
    }
}
@media screen and (min-width: 200px) {
    main p,
    footer p{
      font-size: 14px;
    }
}
@media screen and (min-width: 600px) {
    main p,
    footer p{
      font-size: medium;
    }
}
@media screen and (min-width: 900px) {
    main p{
      font-size: 22px;
    }
    footer p{
        font-size: medium;
    }
}

@media screen and (min-width: 200px) {
    .h2-akc,
    .h2home-sr{
      font-size: 25px;
    }
}
@media screen and (min-width: 600px) {
    .h2-akc,
    .h2home-sr{
      font-size: 35px;
    }
}
@media screen and (min-width: 1100px) {
    .h2-akc,
    .h2home-sr{
      font-size: 50px;
    }
}

@media screen and (min-width: 200px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 20px;
    }
}
@media screen and (min-width: 600px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 30px;
    }
}
@media screen and (min-width: 1100px) {
    .h2-zap,
    .h2-gold,
    .h2-sil,
    .h2-brow{
      font-size: 40px;
    }
}











.zapach {
    max-width: 95%;    
}
.p-main {
    vertical-align: baseline;
    text-align: center;
    color: #5a5a5a;
    font-family: Verdana, Geneva, Tahoma, monospace;
    margin-top: 5%;
}
.zdj1 {
    max-width: 97%;
}
.h2home-sr {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-weight: bold;
    color: #FFCC00;
    text-align: center;
    letter-spacing: 5px;


}
.h2-zap{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 8px;
    color: #292929;
}
.p-zap{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    color: #5a5a5a;
}
.h2-gold{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 8px;
    color: gold;
}
.h2-sil{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 8px;
    color: silver;
}
.h2-brow{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
    font-weight: 800;
    letter-spacing: 8px;
    color: rgb(85, 50, 17);
}
.img-bord {
    border-radius: 12% 88% 12% 77%;
    border: 1px #FFCC00 solid;
    background-color: #FFCC00;
}
.bgzap {
    background-color: rgba(255,255,225,0.05);
    border-radius: 2% 2% 20% 20%;
}
.bgzapa {
    background-color: rgba(255,255,225,0.05);
    border-radius: 2% 20% 20% 2%;
    display: flex;
    align-items: center;
}
.h2-akc {
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-weight: bold;
    color: #292929;
    text-align: left;
    letter-spacing: 5px;
    align-items: center;
}
.margin-items {
    margin-top: 10%;
    margin-left: 3px;
    margin-right: 3px;
}
.p-sr{
    border-top: 5px #FFCC00 solid;
    vertical-align: baseline;
    text-align: center;
    color: #5a5a5a;
    font-family: Verdana, Geneva, Tahoma, monospace;
    padding: 10px;

}












footer {
    border-top: #FFCC00 2px solid;
    margin: 40px;
}
footer img {
    margin: 10px;    
}
footer p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}